 *.zip
*.pyc
*.*~
build/*
.DS_Store
venv/*
vendor/
*.swp
*.log
*.pid
*.deb
*.rpm
*.egg-info*
dist/*
*.msi
*.wixobj
*.wixpdb
*.jar
*.exe
.python-version
.ropeproject
.bundle
.rbenv*
.idea
tags

log

static/img/qr
static/json/brook_state.json
brook

