{% extends 'base.html' %}
{% block content %}
    <div class="container mt">
          <div class="row-centered" id="login-form">
                <div class="login-form col-centered">
                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" placeholder="用户" id="login-name">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" placeholder="密码" id="login-pass">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <a class="btn btn-success btn-lg btn-block" onclick="login()" href="#">登录</a>
                 </div>
            </div>
    </div>
    <div class="span4">
          <div class="todo mrm">
            <div class="todo-search">
              <input class="todo-search-field" type="search" value="" placeholder="Search">
            </div>
            <ul>
              <li class="todo-done">
                <div class="todo-icon fui-plus-circle"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Meet <strong>Adrian</strong> at <strong>6pm</strong>
                  </h4>
                  Times Square
                </div>
              </li>

              <li>
                <div class="todo-icon fui-menu-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Chat with <strong>V.Kudinov</strong>
                  </h4>
                  Skype conference an 9 am
                </div>
              </li>

              <li>
                <div class="todo-icon fui-eye-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Watch <strong>Iron Man</strong>
                  </h4>
                  1998 Broadway
                </div>
              </li>

              <li>
                <div class="todo-icon fui-time-24"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Fix bug on a <strong>Website</strong>
                  </h4>
                  As soon as possible
                </div>
              </li>
            </ul>
          </div>
        </div>

    <div class="ports-del">
        <input name="tagsinput" class="tagsinput" data-role="tagsinput" value="School, Teacher, Colleague" style="display: none;">
        <div class="bootstrap-tagsinput">
            <span class="tag label label-info">School<span data-role="remove"></span></span>
            <span class="tag label label-info"> Teacher<span data-role="remove"></span></span>
            <span class="tag label label-info"> Colleague<span data-role="remove"></span></span>
            <input type="text" placeholder="" style="width: 3em !important;"></div>
    </div>

    <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="0" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Brook
    </label>
    <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" data-toggle="radio" checked="" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            ShadowsSocks
    </label>
    <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="2" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            Socks5
    </label>

{#    //添加navbar-fixed-top可以让导航条一直固定在顶部，不会因为滚动条改变而改变，navbar-inverse让导航条黑底展示#}
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
　　<div class="container">　　//container让导航条居中container-fluid让导航条自适应

　　
　　　　<div class="navbar-header">
{#　　　　　　//粉色字体代表响应式布局：当浏览器宽度小于某个值时导航栏折叠变成三道杠#}
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" type="button">
                <span class="sr-only">看看这是什么</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
{#       //绿色代表导航栏左侧logo或者图标    #}
　　　　 　　<a class="navbar-brand" href="www.baidu.com">浏览器博物馆</a>
        </div>
{#　　　　//棕色包裹项目是导航条内容，为了响应式布局，点击三道杠弹出导航栏#}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

{#　　　　　　　　//紫色代表导航栏中的项目#}
　　　　　　 <ul class="nav navbar-nav">
                <li><a href="www.baidu.com">综述</a></li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="www.baidu.com">简述<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">谷歌浏览器</a></li>
                        <li><a href="#">IE浏览器</a></li>
                        <li><a href="#">360浏览器</a></li>
                        <li><a href="#">谷歌火狐浏览器</a></li>

                    </ul>
　　　　　　　　　　</li>
                <li><a href="www.baidu.com">特点</a></li>
                <li><a href="www.baidu.com">关于</a></li>

            </ul>
        </div>
    </div>
</nav>

{% endblock %}